<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>header}}

    <section>
    
        
        <article>
            <h1>{{heading}}</h1>
            <p> {{info.name}}</p>
            <p>{{info.email}}</p>
            <p>{{info.position}}</p>
            <p>{{info.phone}}</p>
            <p>{{info.city}} {{info.pincode}}</p>
            <h1></h1>
        </article>
    </section>

    {{>footer}}

</body>

</html>